<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20">
  <div class="lg:col-span-12 text-center">
    <div class="flex justify-center mb-6">
      <svg fill="none" class="w-16 h-16" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    </div>
    <h1 class="mb-4 text-2xl font-semibold text-gray-800 text-center mt-3"><span class="sr-only">THIS APPLICATION IS SO GOOD</span>
    </span></h1>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courier+New&display=swap">
<p style="font-family: 'Courier New', monospace; font-size: 4em; color: #ffffff; display: inline-block;">Ứng Dụng Quản Lý Vật Liệu</p>


    
    <p class="lg:text-white text-gray-600 text-sm">Made by <a href=https://www.facebook.com/hoangpro.66/" target="_blank" class="underline opacity-75 hover:opacity-100">@Hoangdz66</a></p>
  </div>
  <style>
  body {
    background-image: url('https://wallpapercave.com/wp/wp4676582.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  </style>
</div>
