<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer name:</strong>
    <%= customer.Customer_Name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.Address %>
  </p>

  <p>
    <strong>Idorders:</strong>
    <%= customer.IDorders %>
  </p>

</div>
